.barber-list-container {
  padding-bottom: 4em;
  margin-bottom: 3em;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#subtitle {
  color: white;
  font-size: 1.6rem;
  font-family: League Spartan;
  font-weight: 500;
  margin-top: 4rem;
}

.vagaro {
	opacity: 0.85;
  transition: all 0.3s ease;
	text-decoration: none;
	color: black;
  margin-top: 4.5em;
}
.vagaro:hover {
	opacity: 1;
}

.card {
  background: white;
  width: 20em;
  height: 3.5em;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Arrow icon */
.card:last-child {
  padding-right: 1.25em;
  padding-left: 0.5em;
}

.name {
	font-family:'Times New Roman', Times, serif;
  color: black;
	font-size: 1.5rem;
	margin: 0;
}

.profile-pic {
	object-fit: cover;
  width: 10rem;
}
.pic-cropper {
	width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  translate: -14px;
}

/* Position profile pic images */
#cs {
	translate: -40px; 
}
#sc {
  translate: -57px 0px;
}
#jill {
  translate: -5px -10px;
}
#rafa {
  translate: -50px -40px;
}
#fa {
  translate: -10px -20px;
}
#da {
  translate: 0px;
}

.book-now {
	border-radius: 8px;
	padding: 1rem 1.5rem;
}
.book-now:hover {
  color: #39A455;
	border: 1px solid #39A455;
}
.book-now:after {
  content: none;
}
.book-now:hover{
  padding: 0.8rem 1.4rem;
}