#subtitle {
  color: white;
  font-size: 1.6rem;
  font-family: League Spartan;
  font-weight: 500;
  margin-top: 4rem;
}

.card-container {
  padding-bottom: 4rem;
  margin-bottom: 3rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background: white;
  width: 20rem;
  margin-top: 4rem;
  height: 3.5rem;
  text-align: center;
  border-radius: 8px;
  display: flex;
  align-items: center;  
}

.vagaro {
	opacity: 0.85;
  transition: all 0.3s ease;
	text-decoration: none;
	color: black;
}
.vagaro:hover {
	opacity: 1;
}

.name {
	font-family:'Times New Roman', Times, serif;
  color: black;
	font-size: 1.5rem;
	padding-right: 1.5rem;
	margin: 0;
}

.profile-pic {
	object-fit: cover;
  width: 10rem;
  translate: -50px 0px;
  overflow: visible;
}
.pic-cropper {
	width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  translate: -10px;
}

/* Position profile pic images */
#cs {
	translate: -40px; 
}
#sc {
  translate: -57px 0px;
}
#jill {
  translate: -5px -10px;
}
#rafa {
  translate: -50px -40px;
}
#fa {
  translate: -10px -20px;
}

.book-now {
	border-radius: 8px;
	padding: 1rem 1.5rem;
}
.book-now:hover {
  color: #39A455;
	border: 1px solid #39A455;
}
.book-now:after {
  content: none;
}
.book-now:hover{
  padding: 0.8rem 1.4rem;
}