.card-container {
	padding-bottom: 3rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	background-color: black;
}

.card {
	background: white;
	max-width: 20rem;
	height: 22rem;
	margin-top: 1.5rem;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
	padding: 1rem 1.5rem;
	text-align: center;
	border-radius: 8px;
	opacity: 0.85;
	transition:all 0.3s ease;
}
.card:hover {
	opacity: 1;
}

.name {
	font-family:'Times New Roman', Times, serif;
	padding-top: 0.5rem;
	padding-bottom: 2rem;
	font-size: 1.8rem;
	margin: 0;
}

.profile-pic {
	object-fit: contain;
	width: 20rem;
}

.book-now {
	border-radius: 8px;
	padding: 1rem 1.5rem;
}

.book-now:hover {
  color: #39A455;
	border: 1px solid #39A455;
}
.book-now:after {
  content: none;
}
.book-now:hover{
  padding: 0.8rem 1.4rem;
}