/* *** Carousel styles *** */
.carousel-container {
	height: 40vw;
	width: 100%;
  	position: relative;
	margin-bottom: 1em;
}

/* *** Book Now Button *** */
.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 1;
}
.book-now {
	font-family: League Spartan;
	font-size: 22px;
	padding: 1em 3em 0.8em 3em;
	border: 1.5px solid rgb(33, 195, 71);
	border-radius: 10px;
	background-color: #2F7E42;
	color: white;
	text-decoration: none;
	transition: all 0.35s;
}
.book-now:hover {
	background-color: white;
	color: #2F7E42;
	cursor: pointer;
	padding-right: 65px;
}
.book-now:after {
	content: '»';
	position: absolute;
	opacity: 0;  
	right: +20px;
}
.book-now:hover:after {
	opacity: 1;
	right: 20px;
}

/* *** Carousel slides *** */
.carousel-container ol {
	list-style-type: none;
	padding-inline-start: 0;
	margin: 0;
}
.carousel-container .carousel-item img {
	height: 40vw;
	width: 100%;
	object-fit: cover;
}
.slide-index {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
}
.change-slide-button {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	border: none;
	background-color:rgba(255, 255, 255, 0.15);
}
#next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.change-slide-button:hover {
  background-color: rgba(0,0,0,0.8);
  transition-duration: 0.5s;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 0.75s;
}
@keyframes fade {
  from {opacity: 0.6} 
  to {opacity: 1}
}