@media only screen and (max-width:415px) {
    /* Mobile grid layout */

	.card-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 0px;
		grid-row-gap: 10px;
        max-width: 415px
	}

	.card {
		margin: 0.2rem;
	}

	.grid1 { grid-area: 1 / 1 / 2 / 2; }
	.grid2 { grid-area: 1 / 3 / 2 / 4; }
	.grid3 { grid-area: 2 / 2 / 3 / 3; }
}
