/* Responsive header */
@media only screen and (max-width: 645px) {
	h1 {
		font-size: 28px;
	}
	#logo {
    	height: 5rem;
	}
}
@media only screen and (max-width: 518px) {
	h1 {
		font-size: 25px;
	}
	#logo {
    	height: 4.5rem;
  	}
}

@media only screen and (max-width: 455px) {
	.header-container {
		height: 4rem;
	}
	h1 {
		font-size: 22px;
		padding-left: 1.1rem;
	}
	#logo {
    	height: 4rem;
	}
}

@media only screen and (max-width: 365px) {
	h1 {
		font-size: 18px;
	}
}

/* Responsive button */
@media only screen and (max-width: 500px) {
	#book-now {
		padding: 0.65rem 2rem;
		font-size: 18px;
	}
}
@media only screen and (max-width: 375px) {
	#book-now {
		padding:0.4rem 1.2rem;
		font-size: 14px;
	}
}

@media only screen and (max-width: 536px) {
	.carousel-container {
		width: auto;
	}
}

/* Responsive business hours */
@media only screen and (max-width: 542px) {
	#hours-container {
		margin-top: 1.5rem;
	}
}