/* Responsive header */
@media only screen and (max-width: 645px) {
	h1 {
		font-size: 28px;
	}
	#logo {
    	height: 5rem;
	}
}
@media only screen and (max-width: 518px) {
	h1 {
		font-size: 25px;
	}
	#logo {
    	height: 4.5rem;
  	}
}
@media only screen and (max-width: 455px) {
	.header-container {
		height: 4rem;
	}
	h1 {
		font-size: 22px;
		padding-left: 1.1rem;
	}
	#logo {
    	height: 4rem;
	}
}
@media only screen and (max-width: 365px) {
	h1 {
		font-size: 18px;
	}
}

/* Responsive button */
@media only screen and (max-width: 500px) {
	.book-now {
		padding: 1rem 2rem;
		font-size: 18px;
	}
}

/* Responsive business information */
@media only screen and (max-width: 703px) {
	#hours-container {
		margin-top: 2.5rem;
	}
	#styled-bar {
		height: 0.5rem;
	}
}