/* Responsive header */
@media only screen and (max-width: 645px) {
	h1 {
		font-size: 28px;
	}
	#logo {
    	height: 3.5em;
	}
}
@media only screen and (max-width: 518px) {
	h1 {
		font-size: 25px;
		padding-bottom: 0.25em;
	}
	#logo {
    	height: 3em;
  	}
	.header-container {
		height: 4.5em;
	}
}
@media only screen and (max-width: 455px) {
	.header-container {
		height: 4em;
	}
	h1 {
		font-size: 22px;
		padding-left: 0.75em;
		padding-top: 0.65em;
	}
	#logo {
    	height: 2.5em;
	}
}
@media only screen and (max-width: 365px) {
	h1 {
		margin-left: 1em;
	}
	#logo {
    	height: 2.25em;
	}
}

/* Responsive button */
@media only screen and (max-width: 500px) {
	.book-now {
		padding: 1em 2em;
		font-size: 18px;
	}
}

/* Responsive business information */
@media only screen and (max-width: 703px) {
	.carousel-container {
		margin-bottom: 0.5em;
	}
}