/* *** Font imports *** */
@font-face {
	font-family: League Spartan;
	src: url("../assets/fonts/LeagueSpartan-Bold.woff2");
	font-weight: bold;
	font-display: swap;
}
@font-face {
	font-family: League Spartan;
	src: url("../assets/fonts/LeagueSpartan-Black.woff2");
	font-weight: regular;
	font-display: swap;
}
@font-face {
	font-family: League Spartan;
	src: url("../assets/fonts/LeagueSpartan-Medium.woff2");
	font-weight: medium;
	font-display: swap;
}

/* *** Global Styles *** */
:root {
	-webkit-font-smoothing: antialiased;
}
body {
	height: 100%;
	margin: 0px;
	background-color: black;
}

/* Scrollbar */
body::-webkit-scrollbar {
	width: 0.5rem;
}
body::-webkit-scrollbar-track {
	background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
	background: #6649b8;
}

/* Header */
.header-container {
	height: 5.6em;
	background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#logo {
	position: absolute;
	top: 0.75em;
	height: 4em;
	padding-left: 1.5em;
	margin: 0;
}
h1 {
	font-family: League Spartan;
	color: white;
	font-size: 2.5rem;
	margin-top: auto;
	padding-top: 0.1em;
	margin-bottom: auto;
}

/* Location + Hours Footer */
.info-container {
	background-color: white;
	font-family: League Spartan;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 19px;
	line-height: 180%;
    padding-bottom: 3em;
}
.icon {
	display: block;
	height: 5em;
	width: 5em;
	margin: auto;
}
#address-container {
	padding-top: 2em;
}
.address-section {
	margin: auto;
	text-align: center;
}
.address-section address {
	font-style: normal;
	white-space: pre;
}
#hours-container {
	padding-top: 2em;
}
.business-hours {
	display: inline-block;
	margin-top: -1rem;
}
#days {
	padding-left: 0;
}
#times {
	text-align: right;
}

ul {
	padding-inline-start: 0px;
	padding-left: 1em;
}
li {
	list-style: none;
}